Package: com.trap.floatingicontweak
Name: Floating Icon Tweak
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Injects a floating icon into the Roblox app.
Maintainer: trapp
Author: trappp
Section: Tweaks
